# ASP.NET Core Environment
ASPNETCORE_ENVIRONMENT=Development

# Database Connection String
CONNECTION_STRING=Server=(localdb)\mssqllocaldb;Database=CsharpAcademy;Trusted_Connection=True;MultipleActiveResultSets=true
